* { 
    margin:0; 
    padding:0; 
    box-sizing:border-box; 
}
body{
    font-size: 16px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
}
p{
    font-size: small;
}
/* ----------------------------- nav bar -------------------------------*/
nav{
    width: 100%;
}
.navbar_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;

}
.links .for_admission{
   margin-right: 30px;
   text-decoration: none;
   color: black;
   font-size: small;
   font-weight: bold;
   font-weight: 1200px;
}
.links .call_us{
    display: block;
    text-align: center;
    line-height: 28px;
    width: 100px;
    height: 30px;
    font-size: small;
    font-weight: 1300;
    text-decoration: none;
    color: white;
    background-color: rgba(94, 183, 243, 0.925);
    border-radius: 5px;
}
.company_logo>img{
    height: 60px;
}
.company_logo{
    margin: 4px 10px 1px 0px;
    height: 60px;
    width: 50px;    
}

.banner_image{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3));
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-bottom: 0%;
}
.banner{
    position: relative;
}
div>p{
    color: white;
    padding-top: 10px;
    text-align: center;
    font-size: 18px;
}
div>h1{
    display: block;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    font-weight: 1000;
    font-size: 48px;
}
.content{
    color: white;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-content: space-around;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    bottom: 1%;
    top: 40%;
    height: 20%;
}
.coming_soon{
    margin-top: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    width: 150px;
    line-height: 40px;
    background-color: rgb(118, 207, 95);
    border-radius: 5px;
}
/* .banner>a{
    position:absolute;
    bottom: 43%;
    top: 47%;
    left: 47%;
    margin-top: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    width: 130px;
    line-height: 35px;
    background-color: rgb(41, 180, 41);
    border-radius: 6px;
} */
/* .image-3{
    width: 100px;
    height: 189.1px;
} */
.image_tray{
    margin-top: -10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.image_overlay{
    display: flex;
    width: 100%;
    position: relative;
}
/* .image_overlay-0{
    position: absolute;
    float: right;
    width: 301.5px;
} */
/* .image_discription>h6{
    position: relative;
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.80s;
} */
.image_discription>h3{
    color: rgb(86, 209, 86);
}
.image_discription>p{
    color: black;    
    font-size: 16px;
}
.image_discription{
    position: relative;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    color: rgba(0, 0, 0, 0.884);
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1px;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}
.image_discription:hover{
    opacity: 1;
    /* box-shadow: 0 0 0 1pt rgb(48, 255, 76); */
    border: 2px solid rgb(48, 255, 76);
    padding-right: 10px;
}
.image{
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Media Queries: Tablet Landscape */
/* @media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
/* @media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
@media (max-width : 640px){
    .navbar_header, .banner_image, .image_tray, .upper-content, .title{
        width: 100%;
        font-size: xx-small;
    }
} */

/* ----------------------------- nav bar -------------------------------*/

/* ----------------------------- main -------------------------------*/
main{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.fist_main_div{
    margin-top: 50px;
    display: flex;
    width: 70%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 50px;
    height: 20%;
    justify-content: space-between;

}
.welcome{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.img{
    width: 35%;
}
.img>img{
    margin-top: 5px;
    width: 100%;
    height: 100%;
}
.abcd{
    display: flex;
    flex-direction: column;
}
.abc>h1{
    color: rgba(151, 30, 30, 0.781);
    float: left;
    text-align: left;
    font-weight: bolder;
    font-size: 45px;
    font-family: 'Yantramanav', sans-serif;
}
.abc>h4{
    color: rgba(151, 30, 30, 0.781);
    text-align: left;
    font-weight: bold;
    font-size: 25px;
    font-weight: lighter;
}
.abcd>div>p{
    color: black;
    float: left;
    text-align: justify;
    text-justify: inter-word;
    font-size: small;
}

.curriculum>div>h1{
    color: rgba(151, 30, 30, 0.781);
    font-size: 45px;
    margin-top: -10px;
    font-family: 'Yantramanav', sans-serif;
}
.curriculum>div>h4{
    margin-top: 30px;
    color: rgba(151, 30, 30, 0.781);
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
}
.h_links{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
/* .h_links>a{
    text-decoration: none;
    padding-right: 70px;
    padding-left: 50px;
    padding-top: 20px;
} */

#non_active{
    display: block;
    display: inline-block;
    text-align: center;
    width: 200px;
    height: 40px;
    margin-left: 50px;
    line-height: 40px;
    text-decoration: none;
    box-shadow: 0 0 0 1pt rgb(75, 190, 100);
    border-radius: 10px;
    color: rgb(5, 104, 5);
    font-weight: bold
}
#non_active:hover{
    opacity: 1;
    color: white;
    background-color: rgb(75, 190, 100);;
    transition: 0.25s;
}
#active{
    overflow: hidden;
    display: inline-block;
    display: block;    
    color: rgb(5, 104, 5);
    text-align: center;
    line-height: 40px;
    height: 42px;
    text-decoration: none;
    width: 200px;
    box-shadow: 0 0 0 1pt rgb(75, 190, 100);
    font-weight: bold;
    border-radius: 10px;
}
#active:hover{
    opacity: 1;
    color: white;
    background-color: rgb(75, 190, 100);;
    transition: 0.25s;
}
.bottom_content{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    width: 70%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}
.img-child{
    width: 40%;
}
.description{
    width: 57%;
}
.bottom_content>div>img{
    width: 100%;
    height: 100%;
}
.description>p{
    color: black;
    text-align: justify;
    text-justify: inter-word;
    font-size: small;
}
.facilities{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.facilities>div>h4{
    color: rgba(151, 30, 30, 0.781);
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
}
.facilities>div>h1{
    color: rgba(151, 30, 30, 0.781);
    font-size: 45px;
    margin-top: -1px;
    font-weight: bolder;
    font-family: 'Yantramanav', sans-serif;
}
/* ----------------------------- main -------------------------------*/

/* ----------------------------- facilities -------------------------------*/

.facilties_grid{
    display: flex;
    margin-top: 40px;
    width: 80%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}
/* #desc{
    color: black;
    display: inline-block;
    text-align: justify;
    width: 46%;
    margin-top: 100px;
} */
/* .first_row>img{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    border-radius: 4px;
    padding-left: 8px;
} */
/* .grid{
    display: block;
    border-radius: 6px;
    background-color: rgb(218, 214, 214);
} */
.grid_image{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.grid-1{
    box-sizing: border-box;
    background: rgb(240, 239, 239);
    display: flex;
    border-radius: 5px;
    margin-top: 22px;
    margin-bottom: 20px;
}
.grid-2{
    box-sizing: border-box;
    background: rgb(240, 239, 239);
    display: flex;
    border-radius: 5px;
    margin-top: 22px;
    margin-left: 20px;
}
.grid_image-1{
    width: 70px;
    height: 70px;
    border-radius: 5px;
    display: block;    
}
.grid-3{
    box-sizing: border-box;
    background: rgb(240, 239, 239);
    display: flex;
    border-radius: 5px;
    margin-top: 22px;
    margin-left: 20px; 
}
#desc{
    color: black;
    font-size: small;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    text-align: justify;
    text-justify: inter-word;
}

.first_column{
    display: flex;
    flex-direction: column;
}
.second_column{   
    display: flex;
    flex-direction: column;
}
.thrid_column{   
    display: flex;
    flex-direction: column;
}
.above_footer>img{
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 80px;
    width: 100%;
}

/*------------------------------------Footer-------------------------------------*/


footer{
    width: 80%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.mail_info{
    margin-top: 6px;
}
.mail_info>span{
    font-size: small;
    font-weight: 80px;
    margin-left: 40px;
    color: black;
}
.follow_us{
    margin-top: 28px;
}

.follow_us>div>span{
    text-align: center;
    font-size: 16px;
    margin-left: 42px;
    margin-top: 20px;
    color: black;
}
.social_media>i{
    padding-right: 20px;
    color: grey;
    opacity: 0.5;
}
.social_media{
    align-items: center;
    margin-top: 28px;
}
.address{
    margin-top: 28px;
}
.address>i{
    padding-top: 6px;
    color: black;
}
.address>i>span{
    padding-left: 8px;    
    font-size: small;
    font-weight: 80px;
    color: black;
}




@media screen and (max-width: 768px) {
    @keyframes fade{
        from{
          opacity:0.4;
        }
        to{
          opacity:1;
        }
      }
    body{
        font-size: 16px;
        margin: 0;
        font-family: 'Poppins', sans-serif;
        padding: 0;
    }
    .navbar_header{
        width: 100%;
    }
    .facilties_grid{
        flex-direction: column;
    }
    .grid-2{
        margin-left: 0%;
    }
    .grid-3{
        margin-left: 0%;
    }
    .img{
        width: 60%;
    }
    header{
        width: 100%;
    }
    .image_tray{
        /* width: 70%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        outline: 5px solid black; */
    }
    /* .main{
        position: relative;
    } */
    .image_overlay{
        /* width: 550px;
        max-width: 550px;
        height: 350px;
        display: flex; */
        /* width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        outline: 5px solid black; */
        /* position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0; */
    }
    /* .image_overlay>img{
        width: 550px;
        max-width: 550px;
        height: 350px;
        display: flex;
        width:100%;
        height: 100%;
    } */
    .image_tray{
        visibility: hidden;
        display: none;
        height: 0%;
    }
    .image_overlay{
        height: 0%;
        visibility: hidden;
    }
    .welcome{
        align-items: center;
        margin-top: 40px;
    }
    .bottom_content{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .abc>h4{
        text-align: center;
    }
    .abc>h1{
        text-align: center;
    }
    .img{
        align-items: center;
        margin-left: 50px;
    }
    .fist_main_div{
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }
    footer{
        width: 100%;
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }
    .coming_soon{
        margin-top: 10px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        display: block;
        font-size: small;
        text-align: center;
        width: 100px;
        line-height: 25px;
        background-color: rgb(118, 207, 95);
        border-radius: 5px;
    }
    /* .company_logo{
        width: 10%;
    } */
    .company_logo>img{
        width: 150px;
    }
    .links{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .links .for_admission{
        font-size: small;
        font-weight: bold;
    }
    .links .call{
        width: 100px;
        margin-left: -30px;
    }
    .links .call_us{
        height: 25px;
        width: 100px;
        line-height: 25px;
        font-size: small;
    }
    .text>div>h1{
        font-size: x-large;
    }
    .text>div>p{
        font-size: small;
    }
}

@media screen and (max-width: 500px){
    body{
        width: 100%;
        font-size: xx-small;
    }
    nav{
        width: 100%;
    }
    footer{
        width: 100%;
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 50px;
    }
    .text>div>h1{
        font-size: small;
    }
    .text>div>p{
        font-size: xx-small;
    }
    .second_column{
        margin-top: 1%;
    }
    .grid-2{
        margin-left: 0%;
    }
    .grid-3{
        margin-left: 0%;
    }
    .grid_image{
        width: 100%;
        height: 100%;
    }
    .grid_image-1{
        height: 100%;

    }
    .mail_info>img{
        width: 100%;
        height: 100%;
    }
    .mail_info>span{
        font-size: xx-small;
        color: black;
    }
    .address{
        margin-top: 28px;
    }
    .h_links{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-top: 30px;
    }
    #non_active{
        margin-left: none;
        margin-top: 10px;
        margin-left: -1px;
    }
    .follow_us>div>span{
        margin-left: 30%;
        font-size: xx-small;
    }
    .mail_info>span{
        font-size: xx-small;
        font-weight: 80px;
        color: black;
    }
    .address>i>span{
        padding-left: 8px;    
        font-size: xx-small;
        font-weight: 80px;
        color: black;
    }
    .coming_soon{
        margin-top: 10px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        display: block;
        font-size: xx-small;
        text-align: center;
        width: 70px;
        line-height: 18px;
        background-color: rgb(118, 207, 95);
        border-radius: 5px;
    }
    /* .company_logo{
        width: 10%;
    } */
    .company_logo>img{
        width: 150px;
    }
    .links{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .links .for_admission{
        font-size: xx-small;
        font-weight: bold;
    }
    .links .call{
        width: 100px;
        margin-left: -10px;
    }
    .links .call_us{
        height: 25px;
        width: 80px;
        font-size: xx-small;
    }
    .image_tray{
        visibility: hidden;
        display: none;
        height: 0%;
    }
    .image_overlay{
        height: 0%;
        visibility: hidden;
    }
}