@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
* { 
    margin:0; 
    padding:0; 
    box-sizing:border-box; 
}
body{
    font-weight: 300;
    font-size: 17px;
    margin: 0;
    font-family: 'Lato', sans-serif;
    padding: 0;
}
p{
    font-size: 21;
}
/* ----------------------------- nav bar -------------------------------*/
nav{
    width: 100%;
}
.navbar_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}
.links{
    display: flex;
    align-items: center;

}
.links>div>span{
    margin-right: 5px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(77, 75, 75);
}
.for_admission{
   margin-right: 30px;
   text-decoration: none;
   color: rgba(151, 30, 30, 0.781);;
   font-size: 14px;
   font-weight: bold;
}
.for_admission>span{
    margin-left: 10px;
    font-weight: bold;
}
.links .call_us{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    margin-left: -20px;
    color: rgba(151, 30, 30, 0.781);;
    border-radius: 5px;
}
.company_logo>img{
    height: 60px;
    /* clip: rect(10px,100px,500px,10px); */
    height: 70px;
    width: 230px;
}
.company_logo{
    margin: 4px 10px 1px 0px;
    /* height: 60px;
    width: 90px;        */
}

.banner_image{
    /* background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)); */
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-bottom: 0%;
}
.banner{
    position: relative;
}
.text>div>p{
    display: block;
    color: white;
    height: 30px;
    /* background-color: rgba(252, 249, 249, 0.562); */
    background: rgb(204, 204, 204); /**/
    background: rgba(252, 249, 249, 0.2);
    line-height: 10px;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
}
.text>div>h1{
    text-align: center;
    top: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 50px; 
    width: 75%;
    color: white;
    margin-bottom: 15px;
    margin-top: 45px;
}
.content{
    color: white;
}
.board{
    position: absolute;
    right: 10%;
    top: 0%;
}
.board>img{
    width: 80%;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-content: space-around;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 10px;
    top: 25%;
    height: 20%;
}
.coming_soon{
    margin-top: 50px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    width: 150px;
    line-height: 40px;
    background-color: rgb(118, 207, 95);
    border-radius: 7px;
    cursor: pointer;
    border: none;
    animation: 2s ease-in-out;
    font-weight: 500;
    font-size: 18px;
}
/* .banner>a{
    position:absolute;
    bottom: 43%;
    top: 47%;
    left: 47%;
    margin-top: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    width: 130px;
    line-height: 35px;
    background-color: rgb(41, 180, 41);
    border-radius: 6px;
} */
/* .image-3{
    width: 100px;
    height: 189.1px;
} */
.image_tray{
    margin-top: -10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.image_overlay{
    display: flex;
    width: 100%;
    position: relative;
}
/* .image_overlay-0{
    position: absolute;
    float: right;
    width: 301.5px;
} */
/* .image_discription>h6{
    position: relative;
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.80s;
} */
.image_discription>h3{
    color: rgb(86, 209, 86);
    font-weight: bolder;
}
.image_discription>ul>li{
    list-style-position: outside;
    margin-left: 1em;
}
.image_discription>ul{
    color: black; 
    list-style-position: inside;  
    font-size: 17px;
    float: left;
    font-weight: 400;
    padding: 10px;
}
.image_discription>span{
    color: orange;
    font-size: 35px;
    font-family: 'Playfair Display', serif;
}
.image_discription{
    position: relative;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 170px;
    background: rgba(255, 255, 255, 0.6);
    color: rgba(0, 0, 0, 0.884);
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1px;
    justify-content: center; 
}
.image{
    position: absolute;
    width: 100%;
    height: 170px;
}

/* Media Queries: Tablet Landscape */
/* @media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
/* @media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
@media (max-width : 640px){
    .navbar_header, .banner_image, .image_tray, .upper-content, .title{
        width: 100%;
        font-size: xx-small;
    }
} */

/* ----------------------------- nav bar -------------------------------*/

/* ----------------------------- main -------------------------------*/
main{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.fist_main_div{
    margin-top: 50px;
    display: flex;
    width: 70%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 50px;
    height: 20%;
    justify-content: space-between;

}
.welcome{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 80%;
}
.img>img{
    margin-top: 75px;
    margin-left: 30px;
    width: 100%;
    height: 300px;
}
.abcd{
    display: flex;
    flex-direction: column;
}
.abc>h2{
    color: rgba(151, 30, 30, 0.781);
    float: left;
    text-align: left;
    font-size: 52px;
    font-family: 'Poppins', sans-serif;
}
.abc>h3{
    color: rgba(151, 30, 30, 0.781);
    text-align: left;
    font-size: 29px;
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
}
.abcd>div>p{
    color: black;
    float: left;
}
.container {
    border: 1px solid  rgba(0,0,0,0.2);;
    /* padding: 10px ; */
    padding-top: 5px;
    margin-top: -5px;
    height: max-content;;
    /* height: 40%; */
    height: 40%;
    
  }
  .card {
    width: 100%; 
    }
  .what{
      display: flex;
  }
   .mt-5{
       margin-left: 5px;
   }
   .setuspart{
        margin-left: 15%;
        margin-right: 15%;
        width:70%;
   }
   .set_as_part>h2{
    color: rgba(151, 30, 30, 0.781);
    font-size: 52px;
    text-align: left;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
   }
   .set_as_part>h3{
    color: rgba(151, 30, 30, 0.781);
    font-size: 29px;
    text-align: left;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
   
}
.container>p{
    padding: 10px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.curriculum>div>h2{
    color: white;
    font-size: 52px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.curriculum>div>h3{
    margin-top: 30px;
    color: white;
    text-align: center;
    font-size: 29px;
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
}
/* .h_links{
    display: flex;
    justify-content: center;
    margin-top: 30px;
} */
/* .h_links>a{
    text-decoration: none;
    padding-right: 70px;
    padding-left: 50px;
    padding-top: 20px;
} */

/* #non_active{
    display: block;
    display: inline-block;
    text-align: center;
    width: 200px;
    height: 40px;
    margin-left: 50px;
    line-height: 40px;
    text-decoration: none;
    box-shadow: 0 0 0 1pt rgb(75, 190, 100);
    border-radius: 10px;
    color: rgb(5, 104, 5);
    font-weight: bold
}
#non_active:hover{
    opacity: 1;
    color: white;
    background-color: rgb(75, 190, 100);;
    transition: 0.25s;
} */
/* #active{
    overflow: hidden;
    display: inline-block;
    display: block;    
    color: rgb(5, 104, 5);
    text-align: center;
    line-height: 40px;
    height: 42px;
    text-decoration: none;
    width: 200px;
    box-shadow: 0 0 0 1pt rgb(75, 190, 100);
    font-weight: bold;
    border-radius: 10px;
}
#active:hover{
    opacity: 1;
    color: white;
    background-color: rgb(75, 190, 100);;
    transition: 0.25s;
} */
.change{
    width: 100%;
    background-color: rgba(122, 22, 22, 0.781);
    margin-top: 150px;
}
.bottom_content{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 70%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 50px;
}
.img-child{
    width: 40%;
}
.description{
    width: 57%;
    margin-top: 20px;
}
.bottom_content>div>img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.description>p{
    color: rgb(255, 236, 236);
    font-size: 15px;
}
.facilities{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.facilities>div>h3{
    color: rgba(151, 30, 30, 0.781);
    text-align: center;
    font-size: 29px;
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
}
.facilities>div>h2{
    color: rgba(151, 30, 30, 0.781);
    font-size: 52px;
    margin-top: -1px;
    font-family: 'Poppins', sans-serif;
}
/* ----------------------------- main -------------------------------*/

/* ----------------------------- facilities -------------------------------*/

.facilties_grid{
    display: flex;
    margin-top: 40px;
    width: 80%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}
/* #desc{
    color: black;
    display: inline-block;
    text-align: justify;
    width: 46%;
    margin-top: 100px;
} */
/* .first_row>img{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    border-radius: 4px;
    padding-left: 8px;
} */
/* .grid{
    display: block;
    border-radius: 6px;
    background-color: rgb(218, 214, 214);
} */
.grid_image{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.grid-1{
    box-sizing: border-box;
    background: rgb(240, 239, 239);
    display: flex;
    border-radius: 5px;
    margin-top: 22px;
    margin-bottom: 20px;
}
.grid-2{
    box-sizing: border-box;
    background: rgb(240, 239, 239);
    display: flex;
    border-radius: 5px;
    margin-top: 22px;
    margin-left: 20px;
}
.grid_image-1{
    width: 70px;
    height: 70px;
    border-radius: 5px;
    display: block;    
}
.grid-3{
    box-sizing: border-box;
    background: rgb(240, 239, 239);
    display: flex;
    border-radius: 5px;
    margin-top: 22px;
    margin-left: 20px; 
}
#desc{
    color: black;
    font-size: small;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    font-size: 16px;
}

.first_column{
    display: flex;
    flex-direction: column;
}
.second_column{   
    display: flex;
    flex-direction: column;
}
.thrid_column{   
    display: flex;
    flex-direction: column;
}
.above_footer>img{
    padding-right: 2px;
    margin-top: 80px;
    width: 100%;
}

/*------------------------------------Footer-------------------------------------*/


footer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #EDEDED;
}
.footer{
    display: flex;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    width: 80%;
    justify-content: space-around;
}
.mail_info{
    margin-top: 6px;
}
.mail_info>a{
    text-decoration: none;
}
.mail_info>a>span{
    font-size: medium;
    text-decoration: none;
    font-weight: 80px;
    margin-left: 40px;
    color: rgba(151, 30, 30, 0.781);
}
.mail_info>span{
    font-size: small;
    text-decoration: none;
    font-weight: 80px;
    margin-left: 40px;
    color: black;
}
.follow_us{
    margin-top: 28px;
}

.follow_us>div>span{
    text-align: center;
    font-size: 16px;
    margin-left: 60px;
    margin-top: 20px;
    color: black;
    font-family: 'Lato', sans-serif;
}
.social_media{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
}
.address{
    margin-top: 28px;
}
.address>i{
    padding-top: 6px;
    color: black;
    opacity: 0.9;
}
.address>i>span{
    padding-left: 8px;    
    font-size: medium;
    color: #333333;
    font-family: 'Lato', sans-serif;
}

.logo{
    width: 50%;
    align-items: center;
    margin-left: 38%;
    margin-right: 25%;
    margin-bottom: 10px;
}
.logo>#middle{
    opacity: 0.3;
    font-size: medium;
    margin-left: 10px;
    margin-right: -20px;
}

.logo>span{
    margin-left: 30px;
    font-size: small;
    font-weight: bold;
}

/* -------------------------------------------------Registration--------------------------------------------------------------------- */
.box{
    display: none;
    transition: all 4s ease-in-out;
    height: 600px;
    width: 80%;
    top: 2%;
    left: 10%;
    position: fixed;
    background-color: rgba(50, 50, 50, 0.9);
    z-index: 999;
}
.imagepopup>img{
    height: 700px;
}
.form{
    width: 80%;
}
.inform>h1{
    color: rgba(151, 30, 30, 0.781);
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    margin-left: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.mainform{
    display: flex;
    position: absolute;
    background:#fff;
    width: 100%;
    top: 5%;
    height: 700px;
    box-sizing:border-box;    
}
.enquiry{
    display: flex;
    margin-left: 25%;
    margin-right: 25%;    
}
select{
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgb(37, 37, 37);
    box-sizing: border-box;
    width: 100%;
    /*  added property  */
}
select:hover{
    cursor: pointer;
}
.inform>button{
    margin-left: 25%;
    margin-right: 25%;
    height: 35px;
    width: 130px;
    border-radius: 5px;
    background-color: rgba(61, 226, 96, 0.87);
    border: none;
    margin-top: 5px;
}
form>span{
    text-align: right;
    float: right;
    font-size: xx-small;
}
form{
    width: 100%;
}
.inform>button:hover{
    cursor: pointer;
    transition: 0.5 ease-in-out;
}
.mobno{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#fname{
    margin-top: 10px;
    width: 100%;
    height: 30px;
    display: inline;
    border: 1px solid rgb(37, 37, 37);
    border-radius: 3px;
}
#close {
    cursor:pointer;
    position:relative;
    background:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    float: right;
    width: 40px;
    margin-right: 10px;
    font-size:20px;
    font-weight:600;
    line-height:30px;
    text-align:center;
    border-radius:50%;
  }

/* -----------------------------------------------------------Registration---------------------------------------------------------------------------- */
@keyframes slider {
    16%{
        margin-left: -100%;
    }
    34%{
        margin-left: -100%;
    }
    50%{
        margin-left: -200%;
    }
    67%{
        margin-left: -200%;
    }
    84%{
        margin-left: -300%;
    }
    100%{
        margin-left: -300%;
    }
    /* 58.31%{
        margin-left: -400%;
    }
    66.64%{
        margin-left: -400%;
    }
    74.97%{
        margin-left: -500%;
    }
    83.30%{
        margin-left: -500%;
    }
    91.63%{
        margin-left: -600%;
    }
    100%{
        margin-left: -600%;
    } */
}

@media screen and (max-width:1200px) {
    body{
        font-size: 16px;
        margin: 0;
        font-family: 'Lato', sans-serif;
        padding: 0;
    }
    .board{
        float: right;
        margin-left: 70%;
    }
    .board>img{
        width: 100%;
        margin-right: 0%;
    }
    .banner>img{
        height: 400px;
    }
    .text>div>h1{
        font-size: small;
    }
    .text>div>p{
        font-size: xx-small;
    }
    .navbar_header{
        width: 100%;
    }
    .facilties_grid{
        flex-direction: column;
    }
    .grid-2{
        margin-left: 0%;
    }
    .grid-3{
        margin-left: 0%;
    }
    .img{
        width: 50%;
    }
    .img>img{
        margin-top: -15px;
    }
    header{
        width: 100%;
    }
    .image_discription>ul{
        font-size: small;
    }
    .image_discription>span{
        font-size: medium;
    }
    /* .image_tray{
        width: 600%;
        height: 250px;
        animation: slider infinite 20s 1s;

    } */
    /* .main{
        position: relative;
    } */
    .main{
        overflow: hidden;
    }
    .image_overlay{
        width: 60%;
        float: left;
        overflow: hidden;
        margin-top: -10px;
    }
    #desc{
        color: black;
        font-size: small;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 12px;
        font-family: 'Lato', sans-serif;
    }
    .abcd>div>p{
        color: black;
        float: left;
        font-family: 'Lato', sans-serif;
    }
    /* .image_overlay>img{
        width: 550px;
        max-width: 550px;
        height: 350px;
        display: flex;
        width:100%;
        height: 100%;
    } */
    /* .image_tray{
        visibility: hidden;
        display: none;
        height: 0%;
    }
    .image_overlay{
        height: 0%;
        visibility: hidden;
    } */
    
    .inform>button{
        width: 80px;
    }
    .imagepopup>img{
        height: 700px;
        width: 90%;
    }
    .mobno{
        flex-direction: column;
    }
    .box{
        height: 700px;
    }
    .what{
        flex-direction: column;
    }
    .mt-5{
        height: 50%;
        padding-top: 20px;
    }
    .welcome{
        align-items: center;
        margin-top: 40px;
    }
    .bottom_content{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .abc>h3{
        text-align: center;
    }
    .abc>h2{
        text-align: center;
    }
    .img{
        align-items: center;
    }
    .set_as_part>h3{
        text-align: center;
    }
    .set_as_part>h2{
        text-align: center;
    }
    .fist_main_div{
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }
    .coming_soon{
        margin-top: 10px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        display: block;
        font-size: small;
        text-align: center;
        width: 100px;
        line-height: 25px;
        background-color: rgb(118, 207, 95);
        border-radius: 5px;
    }
    .logo{
        margin-top: 25%;
        margin-bottom: 5%;
    }
    /* .company_logo{
        width: 10%;
    } */
    .abcd>div>p{
        color: black;
        float: left;
    }
    .company_logo>img{
        width: 100%;
    }
    .links{
        flex-direction: column;
    }
    .links .for_admission{
        font-size: small;
        font-weight: bold;
    }
    .links .call{
        width: 100px;
        margin-left: -30px;
    }
    .links .call_us{
        height: 25px;
        width: 100px;
        line-height: 25px;
        font-size: small;
    }
    .text>div>h1{
        font-size: x-large;
    }
    .text>div>p{
        font-size: small;
    }
    .follow_us{
        margin-top: 10px;
    }
    footer{
        position: relative;
        width: 100%;
    }
    .footer{
        height: 100%;
        width: 100%;
    }
    .mail_info{
        position: absolute;
        top: 15%;
        width: 50%;
        float: left;
        left: 0%;
    }
    .follow_us>div>span{
        text-align: center;
        font-size: 13px;
        float: right;
        margin-right: 30%;
        margin-bottom: 10px;
    }
    .follow_us{
        position: absolute;
        display: block;
        width: 40%;
        right: 0%;
    }
    .address{
        position: absolute;
        top: 35%;
        width: 30%;
        display: block;
        left: 70%;
    }
    .address>i{
        font-size: medium;
    }
    .address>i>span{
        display: block;
        font-size: small;
        margin-left: 20px;
        margin-top: -13px;
    }
    .mail_info>img{
        height: 50%;
        width: 50%;
    }
    .social_media{
        width: 40%;
        height: 40%;
        margin-top: -3px;
        float: right;
        margin-right: 125px;
    }
    .social_media>img{
        width: 100%;
        height: 10%;
    }
    .logo{
        font-size: x-small;
        width: 30%;
        margin: auto;
        margin-top: 170px;
    }
    .logo>span{
        font-size: x-small;
    }
}

@media screen and (max-width: 720px){
    body{
        width: 100%;
        font-size: xx-small;
    }
    nav{
        width: 100%;
    }
    #desc{
        color: black;
        font-size: small;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 12px;
        font-family: 'Lato', sans-serif;
    }
    .image_tray{
        margin-top: 1px;
        width: 300%;
        height: 300px;
        animation: slider infinite 15s 8s;
    }
    /* .main{
        position: relative;
    } */
    .box{
        height: 500px;
    }
    .enquiry>form{
        width: 80%;
    }
    .form{
        width: 100%;
    }
    .inform>h1{
        font-size: small;
    }
    .imagepopup>img{
        height: 500px;
        width: 80%;
    }
    .banner>img{
        height: 250px;
    }
    .main{
        overflow: hidden;
    }
    .image_overlay{
        width: 60%;
        float: left;
        overflow: hidden;
    }
    .abcd>div>p{
        color: black;
        float: left;
        text-justify: none;
        font-family: 'Lato', sans-serif;
    }
    .text{
        margin-top: -80px;
    }
    .text>div>h1{
        font-size: x-small;
    }
    .text>div>p{
        font-size: xx-small;
    }
    .second_column{
        margin-top: 1%;
    }
    .grid-2{
        margin-left: 0%;
    }
    .grid-3{
        margin-left: 0%;
    }
    .grid_image{
        width: 100%;
        height: 100%;
    }
    .grid_image-1{
        height: 100%;
    }
    .fist_main_div{
        margin-top: -120px;
    }
    .img>img{
        height: 200px;
    }
    .set_as_part{
        text-align: center;
    }
    .setuspart .set_as_part>h2{
        font-size: xx-large;
    }
    .setuspart .set_as_part>h3{
        font-size: medium;
    }
    .abc>h3{
        font-size: small;
    }
    .abc>h2{
        font-size: xx-large;
    }
    .curriculum>div>h2{
        font-size: xx-large;
    }
    .curriculum>div>h3{
        font-size: medium;
    }
    .facilities>div>h3{
        font-size: medium;
    }
    .facilities>div>h2{
        font-size: x-large;
    }
    .h_links{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-top: 30px;
    }
    #non_active{
        margin-left: none;
        margin-top: 10px;
        margin-left: -1px;
    }
    .coming_soon{
        margin-top: 10px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        display: block;
        font-size: xx-small;
        text-align: center;
        width: 70px;
        line-height: 18px;
        background-color: rgb(118, 207, 95);
        border-radius: 5px;
    }
    /* .company_logo{
        width: 10%;
    } */

    .company_logo>img{
        width: 90%;
    }
    .links{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .links .for_admission{
        font-size: xx-small;
        font-weight: bold;
    }
    .links .call{
        width: 100px;
        margin-left: -10px;
    }
    .links .call_us{
        height: 25px;
        width: 80px;
        font-size: xx-small;
    }
    .links>div>span{
        font-size: x-small;
    }
    .follow_us{
        margin-top: 10px;
    }
    footer{
        position: relative;
        height: 100%;
        width: 100%;
    }
    /* .footer{
        position: relative;
        width: 100%;
        height: 100%;
    } */
    .mail_info{
        position: absolute;
        margin-top: 2%;
        width: 50%;
        float: left;
        left: 0%;
    }
    .mail_info>img{
        width: 100%;
        height: 100%;
    }
    .mail_info>span{
        font-size: xx-small;
        color: black;
    }
    .mail_info>a>span{
        font-size: x-small;
    }
    .follow_us>div>span{
        text-align: center;
        font-size: x-small;
        float: right;
        margin-right: 100px;
    }
    .follow_us{
        position: absolute;
        width: 40%;
    }
    .address{
        position: absolute;
        margin-top: 50px;
        float: right;
    }
    .follow_us>div>span{
        font-size: xx-small;
    }
    .mail_info>span{
        font-size: xx-small;
        font-weight: 80px;
        color: black;
    }
    .address>i>span{
        padding-left: 8px;    
        font-size: xx-small;
        font-weight: 80px;
        color: black;
    }
    .address>i{
        font-size: x-small;
    }
    .address>i>span{
        display: block;
        font-size: xx-small;
        margin-left: 20px;
    }
    .mail_info>img{
        margin-left: 10px;
        height: 50%;
        width: 50%;
        margin-top: 10px;
    }
    .social_media{
        width: 70%;
        height: 70%;
        float: right;
        margin-right: 40px;
    }

    .social_media>a>img{
        width: 100%;
        height: 100%;
        margin-left: 25px;
        margin-top: 10px;
    }
    .logo{
        font-size: xx-small;
        width: 40%;
        margin: 0 auto;
        margin-top: 150px;
    }
    .logo>img{
        width: 20%;
    }
    .logo>span{
        font-size: xx-small;
    }
}

@media screen and (max-width: 574px){
    .footer{
        height: 100%;
    }
    footer{
        height: 100%;
    }
    .text{
        margin-top: -100px;
    }
    .text>h1{
        font-size: xx-small;
    }
    .text>div>p{
        font-size: xx-small;
        margin-top: -10px;
    }
    .fist_main_div{
        margin-top: -120px;
    }
    /* .image_overlay{
        height: 70%;
    } */
    .fa-envelope>#email{
        display: none;
        visibility: hidden;
    }
    .follow_us{
        margin-top: -10px;
    }
    .follow_us>div>span{
        margin-right: 30%;
    }
    .social_media{
        margin-right: 40px;
    }
    .mail_info{
        margin-top: -15px;
    }
    .address{
        margin-top: 20px;
    }
    .social_media>a{
        margin-top: -10px;
    }
    .address>i>span{
        font-size: 8px;
        margin-left: 5px;
    }
    .address>#mail{
        display: none;
        visibility: hidden;
    }
    .logo{
        width: 50%;
        margin: 0 auto;
        margin-top: 120px;
    }
}
@media screen and (min-width: 1700px){
    .logo{
        width: 100%;
        margin-left: 41%;
    }
}